$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$colour-mc-green: #359700;
$colour-mc-light-green: #7dcc48;
$colour-mc-blue: #0095FF;
$colour-mc-brown: #8f4c22;
$colour-mc-dark-brown: #693419;
$colour-mc-light-grey: #c1b4b2;
$colour-mc-grey: #6d6d6d;
$colour-mc-dark-grey: #40423f;
$colour-mc-black: #282729;