@font-face {
    font-family: Minecraft;
    src: url(../../assets/fonts/MinecraftRegular-Bmg3.otf);
    font-weight: 400;
}

@font-face {
    font-family: Minecraft;
    src: url(../../assets/fonts/MinecraftBold-nMK1.otf);
    font-weight: 600;
}