@use '../../styles/partials/globals.scss' as *;

.upload {
    font-family: minecraft;

    &__title-container {
        @include desktop {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    &__title {
        @include desktop {
            font-size: 4rem;
            padding-bottom: 1rem;
            padding-left: 2.8rem;
        }
    }

    &__crafting-table {
        @include desktop {
            width: 4rem;
            padding-left: 1rem;
        }
    }

    &__content-and-button-container {
        padding: 0;
    }

    &__content-container {
        @include desktop {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            height: 45vw;
            background-image: url('../../assets/images/empty-book.png');
            background-position: center left;
            background-size: contain;
            background-repeat: no-repeat;

            padding: 0 0 0 1rem;
        }
    }

    &__input-container {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        padding: 1rem 0 0 2rem;
    }

    &__build {
        width: 6.5rem;
        margin-top: 2.8rem;
    }

    &__build-input {
        background-color: #fcf7e9;
        border: none;
    }

    &__category {
        width: 6.6rem;
        padding: 0;
    }

    &__dropdown-menu {
        width: 11rem;
        background-color: #fcf7e9;
        font-family: minecraft;

        appearance: none;
        border: 1px solid $colour-mc-light-grey;
        outline: none;

        padding: 0.2rem 1rem;

        position: relative;
        background: url('../../assets/icons/drop-down-arrow.svg');
        background-repeat: no-repeat;
        background-position: top 0.008rem right 0.05rem;
    }

    &__description {
        width: 6.5rem;
        margin-top: 0.3rem;
    }

    &__description-input {
        background-color: #fcf7e9;
        border: none;
        resize: none;
    }

    &__instructions {
        margin-top: 2.5rem;
        width: 6.5rem;
    }

    &__instructions-input {
        background-color: #fcf7e9;
        border: none;
        resize: none;
    }

    &__button {
        background-color: $colour-mc-grey;
        font-family: minecraft;
        color: white;
        outline: none;

        &:hover {
            cursor: pointer;
            background-color: $colour-mc-dark-grey;
        }

        @include desktop {
            width: 18rem;
            align-self: flex-end;
            margin-top: 2.5rem;
            margin-right: 2rem;
            padding: 1.2rem;
        }
    }

}