@use '../../styles/partials/globals.scss' as *;

.upload {
    font-family: minecraft;
    background-image: url('../../assets/images/birch-background.png');
    background-size: 6%;

    &__back-button {
        background-color: $colour-mc-grey;
        font-family: minecraft;
        color: white;

        &:hover {
            cursor: pointer;
            background-color: $colour-mc-dark-grey;
        }

        @include desktop {
            font-size: 1.5rem;
            width: 4rem;
            height: 3rem;
            margin-bottom: 0.6rem;
            margin-left: 1rem;
        }
    }

    &__title-container {
        @include desktop {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    &__title {
        @include desktop {
            font-size: 3.8rem;
            padding-bottom: 1rem;
            padding-left: 1.5rem;
        }
    }

    &__crafting-table {
        @include desktop {
            width: 4rem;
            padding-left: 1rem;
        }
    }

    &__content-and-button-container {
        padding: 0;
    }

    &__form {
        @include desktop {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
    }

    &__content-container {
        @include desktop {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            height: 45vw;
            width: 32rem;
            background-image: url('../../assets/images/empty-book.png');
            background-position: center left;
            background-size: contain;
            background-repeat: no-repeat;

            padding: 0 0 0 1rem;
        }
    }

    &__input-container {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        padding: 1rem 0 0 2rem;
    }

    &__build {
        width: 6.5rem;
        margin-top: 2.8rem;
    }

    &__build-input {
        font-family: minecraft;
        background-color: #fcf7e9;
        border: none;

        &:focus {
            background-color: #fcf7e9
        }
    }

    &__category {
        width: 6.6rem;
        padding: 0;
    }

    &__dropdown-menu {
        width: 11rem;
        background-color: #fcf7e9;
        font-family: minecraft;

        appearance: none;
        border: 1px solid $colour-mc-light-grey;
        outline: none;

        padding: 0.2rem 1rem;

        position: relative;
        background: url('../../assets/icons/drop-down-arrow.svg');
        background-repeat: no-repeat;
        background-position: top 0.008rem right 0.05rem;
    }

    &__description {
        width: 6.5rem;
        margin-top: 0.3rem;
    }

    &__description-input {
        background-color: #fcf7e9;
        border: none;
        resize: none;
    }

    &__instructions {
        margin-top: 2.5rem;
        width: 6.5rem;
    }

    &__instructions-input {
        background-color: #fcf7e9;
        border: none;
        resize: none;
    }

    &__image-and-button-container {
        @include desktop {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__preview-container {
        @include desktop {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: dashed 2px $colour-mc-dark-grey;

            margin-bottom: 1rem;
            padding: 15rem 20rem 16rem;
        }
    }

    &__preview {
        @include desktop {
            padding-bottom: 1rem;
        }
    }

    &__preview-input {
        @include desktop {
            display: flex;
            justify-content: center;
        }
    }

    &__button {
        background-color: $colour-mc-grey;
        font-family: minecraft;
        color: white;
        outline: none;

        &:hover {
            cursor: pointer;
            background-color: $colour-mc-dark-grey;
        }

        @include desktop {
            width: 18rem;
            padding: 1.2rem;
        }
    }
}

input[type='file'] {
    color: rgba(0, 0, 0, 0);
    width: 5.5rem;
}