@use '../../styles/partials/globals.scss' as *;

.tutorial {
    font-family: minecraft;
    background-image: url('../../assets/images/birch-background.png');
    background-size: 10.11%;

    &__main-container {
        @include desktop {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border: 2px solid $colour-mc-grey;
            padding: 0 1.1rem 0 1.5rem;
        }
    }

    &__divider {
        border: 1px solid $colour-mc-dark-grey;
        margin: 0;
        padding: 0;
    }

    &__title-and-category {
        @include desktop {
            display: flex;
            flex-direction: row;
            column-gap: 3rem;
            margin-top: 0.1rem;
            padding-right: 5%;
        }
    }

    &__title {
        @include desktop {
            font-size: 1.8rem;
            width: 11rem;
            padding-bottom: 0.6rem;
        }
    }

    &__creator {
        @include desktop {
            font-size: 1.2rem;
        }
    }

    &__category {
        @include desktop {
            font-size: 1.5rem;
            width: 8rem;
            margin-top: 0.3rem;
        }
    }

    &__description {
        @include desktop {
            font-size: 1.5rem;
            line-height: 2.32rem;
            width: 15rem;
            margin-top: 0.1rem;
        }
    }

    &__preview {
        object-fit: cover;
        object-position: center;

        @include desktop {
            width: 15rem;
            height: 10rem;
            padding: 0.5rem 0;
        }
    }

    &__icon-container {
        @include desktop {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 1rem;
            padding-bottom: 4.3rem;
            padding-left: 2%;
        }
    }

    &__views-container {
        @include desktop {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    &__likes-container {
        @include desktop {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    &__icon {
        &--heart {
            @include desktop {
                width: 2.1rem;
                padding-right: 0.4rem;
            }
        }

        @include desktop {
            width: 2.5rem;
            padding-right: 0.4rem;
        }
    }

    &__views {
        @include desktop {
            font-size: 1.5rem;
            width: 2.5rem;
        }
    }

    &__likes {
        @include desktop {
            font-size: 1.5rem;
            width: 2.5rem;
        }
    }
}